/* 
================================================================================
 ////////        ///////                                                        
    /////          /////                                                        
    ////           ////                                                         
   /////           ////                                                         
   /////           ////                                                         
   /////          /////                                                         
   ////           /////                                                         
  /////           ////                                                          
  /////           ////                             ///                          
  ///// ////     /////     ///// ////     //////   //////////    ////     ///// 
  //// /   ///   /////   ////  / ////    ///   //// //  ////    /////   //   ///
 //////    ///   ////   ////    ////    ////   ////     ////    ////   ///   ///
 /////     ////  ////   ////    ////   /////   ////    /////    ////   ////  ///
 ////      //// /////  ////     ////   ////    ////    /////    ////   //////   
 ////     ///// ///// /////     ////   ////   /////    ////    /////   ///////  
/////     ///// ////  /////     ///    ////   ////     ////    ////     /////// 
/////     ////  ////  /////    ////    ////   ///      ////    ////       ///// 
////      //// /////  ////     ////  //   /////       /////   /////  ////  //// 
////     ////  /////  ////    /////  //               ////    /////  ////   /// 
////     ///   /////  ////    ////  /////////////     ////   ////// /////   /// 
 ///    ///    ////  / ///   / /// / /////////////    ////  /  /// /  //   ///  
  ///////       /////   /////   ///   ////////////     /////   ////    /////    
                                      ////////////                              
                                     //         //                              
                                    //          //                              
                                    //          /                               
                                    //         /                                
                                     //      //                                 
                                      ///////                                   
================================================================================
Quiki custom styles
================================================================================
*/


/* =============================================================================
Special layout features
============================================================================= */
.messageInfo{
	display:inline-block;
	margin-top:0px;
	padding:10px;
	background-color:hsla(0,100%,90%,1);
	border:solid 1px hsla(0,100%,80%,1);
	/*outline:solid 3px #EAB2B3;*/
	/* box-shadow:0px 0px 10px rgba(255,0,0,1); */
	/* border-radius:5px; */
	color:hsla(0,100%,50%,1);
}


main div.nobr br{
	display:none;
} 

/* Box */
main div.box{
	display:inline-block;
	padding:0 5px 5px 5px;
	margin:0 10px 10px 0;
	/*float:left;*/
	
	border:solid 1px #606060;
	background-color:#c0c0c0;
	/* box-shadow:0px 0px 2px rgba(0,0,0,0.25); */

	color:#404040;
	/* font-family: "Titillium Web",​Tahoma,​sans-serif; */
}
	/* Headers */
	main div.box h1,
	main div.box h2,
	main div.box h3,
	main div.box h4,
	main div.box h5,
	main div.box h6{
	}
	main div.box h3,
	main div.box h4,
	main div.box h5,
	main div.box h6{
		margin:20px -5px 10px -5px;
		padding:2px 5px;
		font-size:100%;
	} 
	main div.box h3:first-child,
	main div.box h4:first-child,
	main div.box h5:first-child,
	main div.box h6:first-child{
		margin-top:0px;
	} 
	main div.box h3{
		background-color:#606060;
		color:#c0c0c0;
		border-bottom-style:none;
		padding-top:4px;
		padding-bottom:0px;
	} 
	main div.box h4{
		margin-top:2em;
		color:#606060;
		border-bottom: dashed 1px #808080;
		background-color:rgba(0,0,0,0.05);
		padding-top:6px;
	} 
	main div.box h3+h4{
		margin-top:0;
	} 
	main div.box h5{
		font-weight:normal;
		color:#808080;
		border-bottom: dotted 1px #808080;
	} 
	main div.box h6{
		/*font-weight:normal;*/
		color:#808080;
		margin-bottom:5px;
		border-bottom: solid 1px #B0B0B0;
	} 
	main div.box ul , 
	main div.box ol {
		list-style-type:none;
		margin:0px;
		padding:0;
	} 
		/* lists styles */
		main div.box li {
			/* font-weight:bold; */
			/* margin:5px 0px 0px 0px; */
			font-size:85%;
		} 
			main div.box li ul,
			main div.box li ol{
			} 
				main div.box li li{
					/*text-align:right;*/
					font-weight:normal;
					margin-left:10px;
				} 
					main div.box li li li{
						font-weight:normal;
						/*font-style:italic;*/
						/*margin-right:10px;*/
						/*font-size:10px;*/
					} 

/* No lists */
.nolist{ display:inline-block; vertical-align:top; }
	.nolist ul, 
	.nolist ol{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.nolist ul{
		list-style-type:none;
	}
	.nolist ol{
		list-style-type:decimal;
	}
	.nolist dl{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.nolist dt{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.nolist dd{
		margin: 0 0 0 10px;
		padding: 0 0 0 0;
		list-style-position: inside;
	}

/* Hierarquical deep lists */
ol.l , ul.l{ /* first ol/ul */ 
	/* font-size:40px; */
	display:inline-block;
	margin:0 10px 10px 0px;
	padding:0;
	vertical-align:top;
	text-align:left;
}
.l , .l ol , .l ul { margin:0; padding:0; } /* all ol/ul */
.l>li{  margin:0 0 0 0; } /* first li */
.l li{ /* all li */
	list-style-type:none;
	margin:0px -5px 3px 5px;
	padding:2px 4px 2px 4px;
	color:rgba(0,0,0,0.5);
	/* font-size:90%; */
	border:dotted 1px transparent;
	/* background-image:url(transparency/black-05.png);
	background-repeat:repeat; */
	background-color:rgba(0,0,0,0.05);
	border-radius: 5px 0 0 5px;
}
.l li:hover{ 
	border-color:rgba(0,0,0,0.75);
}

/*
.l li{                            color:hsl(0,0%,45%); } .l li a{                             }
.l li li{                         color:hsl(0,0%,40%); } .l li li a{                          }
.l li li li{                      color:hsl(0,0%,35%); } .l li li li a{                       }
.l li li li li{                   color:hsl(0,0%,30%); } .l li li li li a{                    }
.l li li li li li{                color:hsl(0,0%,25%); } .l li li li li li a{                 }
.l li li li li li li{             color:hsl(0,0%,20%); } .l li li li li li li a{              }
.l li li li li li li li{          color:hsl(0,0%,15%); } .l li li li li li li li a{           }
.l li li li li li li li li{       color:hsl(0,0%,10%); } .l li li li li li li li li a{        }
.l li li li li li li li li li{    color:hsl(0,0%, 5%); } .l li li li li li li li li li a{     }
.l li li li li li li li li li li{ color:hsl(0,0%, 0%); } .l li li li li li li li li li li a{  }
*/

/* =============================================================================
Misc
============================================================================= */
.isolate{
	margin:10px 0;
	padding:5px;
	border:dotted 1px #808080;
	display:inline-block;
	/*background-image:url(transparency/black-05.png);*/
	background-color:rgba(0,0,0,0.05);
}
.right{ text-align:right; }
.center{ text-align:center; }
.hidden{ display:none !important; }
code.isolate{
	display:inline-block;
	margin:0;
}

div.table { display:table; padding:0px; margin:0; }
div.tr { display:table-row; padding:0px; margin:0; }
div.trg { display:table-row-group; padding:0px; margin:0; }
div.td { display:table-cell; padding:0px; margin:0; }
